body {
	background-image: url("../images/background.jpg");
}

header, #instructions, #score-container, #gems-container, #score-box-title, #scoreCurrent {
	margin: 0 0 5px 5px;
}

p {
	padding-left: 5px;
}

header {
	font-size: 30px;
	background-color: chocolate;
	color: white;
	text-align: center;
	width: 240px;
	margin-top: 5px;
	padding: 20px 5px;
}

#instructions {
	color: limegreen;
	background-color: papayawhip;
	font-size: 15px;
	width: 400px;
	clear: both;
	padding: 10px 5px;
}

#score-container {
	height: 100px;
	overflow: none;
}

#scoreGoal {
	color: purple;
	background-color: limegreen;
	float: left;
	width: 150px;
	height: 93px;
	font-size: 30px;
	margin-right: 10px;
	padding-top: 5px;
}

#winsLosses {
	background-color: cyan;
	width: 75px;
	padding: 25px 0;
	float: left;
}

#gems-container {
	clear: both;
}

#scoreCurrent {
	font-size: 30px;
	height: 75px;
	padding-top: 5px;
}

.teal-box {
	background-color: teal;
	color: white;
	width: 200px;
}

